<div class="col-xs-12">
  <h4>{{type}}</h4>
  <p>
    <small class="report-added">{{formatDate added}}</small>
    &ensp;
    <small class="report-status">{{status}}</small>
  </p>
  <p>&ldquo;{{description}}&rdquo;</p>
</div>

<img class="img-responsive" src="http://0.0.0.0:8888/api/img/{{img}}">

<div class="map-container" style="height:320px;"></div>
