<!-- <div class="map-container"></div> -->

<ul class="report-list">
    {{#each reports}}
    <a href="#reports/{{id}}" class="report-{{id}} status-{{status_id}} type-{{types_id}}">
        <li class="report-list-item">
            <span class="report-status">{{status}}</span>
            <span class="report-added">{{added}}</span>
            <span class="report-type">{{type}}</span>
            <span class="report-description">{{description}}</span>
        </li>
    </a>
    {{/each}}
</ul>
